.tooltipcontainer {
width:auto;
height:auto;
position:absolute;
z-index:10001;
padding:5px 5px 5px 5px ;
color:#fff;
font-size:11px;
}

.tooltipheader{
font-size:14px;
}

#event_modal{
width: 50% !important;
height: 60% !important;
	}
	
#event_modal .indent{
	margin-left:1em;
}

.tooltiptopicevent .indent{
	margin-left:1em;
}
